<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/script.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="green-bar"></div>
    <div id="app" class="container">

        <aside>
            <!-- input "Search" -->
            <div class="grey-bar">
                <div class="search-bar">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
            </div>

            <!-- lista contatti -->
            <ul>
                <li v-for="(contact, index) in contacts" v-on:click="functionTest(index)" v-on:click="findUserTexts(index)" class="chats">
                    <div class="users"></div>
                    <div class="users-info">
                        <p>{{ contact.name }}</p>
                        <span>Text</span>
                    </div>
                </li>
            </ul>
        </aside>

        <div id="active-chat">

            <!-- utente selezionato -->
            <div class="grey-bar">
                <h2>Sistemare</h2>
            </div>

            <!-- chat utente selezionato -->
            <div class="wa-background">
                <div class="texts-list">
                    <div v-for="(userData, index) in arrayTest.messages" class="text" :class="userData.status == 'sent' ? 'sent': 'received'">
                        {{ userData.text }}
                    </div>
                </div>
            </div>

            <!-- input "Type text" -->
            <div class="grey-bar" id="type-text">
                <i class="far fa-grin"></i>
                <i class="fas fa-paperclip"></i>
                <div class="search-bar">
                    <input v-model="newText" v-on:keyup.enter="printText" type="text" placeholder="Scrivi un messaggio">
                </div>
                <i class="fas fa-microphone"></i>
            </div>

        </div>

    </div>
</body>
</html>

<!-- <div class="texts">
    <div v-for="text in currentUserArray" class="text" :class="text.status == 'sent' ? 'sent': 'received'">
        {{ text.text }}
    </div>
</div> -->

<!-- TO DO 
- div.text .sent/.received => <li></li> ?
- inserire data all'interno di div.text 
- pulizia codice
-->