<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/script.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="green-bar"></div>
    <div id="app" class="container">

        <aside>
            <div class="grey-bar">
                <div class="users">
                    <img src="img/profile-pic.jfif" alt="">
                </div>

                <div>
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="alert">
                <div class="white-bg">
                    <i class="fas fa-bell-slash"></i>
                </div>

                <div>
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <span>Attiva notifiche desktop <i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
            <!-- input "Search" -->
            <div class="grey-bar">
                <div class="search-bar">
                    <i class="fas fa-search"></i>
                    <input v-model="typeSearch" type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
            </div>

            <!-- contacts list -->
            <ul>
                <li
                :class="index == activeIndex ? 'active' : ''"
                class="chats" 
                v-on:click="printUser(index)" 
                v-for="(contact, index) in funTest()" 
                >
                    <div class="users">
                        <img :src="'img/' + contact.avatar + '.jpeg'" alt="">
                    </div>

                    <div class="users-info">
                        <div class="row">
                            <p>{{ contact.name }}</p>
                            <span class="date">{{ contact.messages[contact.messages.length - 1].date.slice(0, 10) }}</span>
                        </div>

                        <!-- last text -->
                        <div class="row">
                            <span>{{ contact.messages[contact.messages.length - 1].text }}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </aside>

        <div id="active-chat" v-if="activeIndex != -1">

            <!-- selected user -->
            <div class="grey-bar">
                <div class="row">
                    <div class="users">
                        <img :src="activeAvatar" alt="">
                    </div>
                    <p>{{ activeChat }}</p>
                </div>
                
                <div>
                    <i class="fas fa-search"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <!-- selected user's chat -->
            <div class="wa-background">
                <ul class="texts-list">
                    <li v-for="(userData, index) in currentUserArray.messages" class="text" :class="userData.status == 'sent' ? 'sent': 'received'">
                        {{ userData.text }}
                        <span class="text-date">{{ userData.date.slice(-8, -3) }}</span>
                        <i class="fas fa-chevron-down">

                            <div class="menu">
                                <a>Message info</a>
                                <a v-on:click="delText(index)">Delete message</a>
                            </div>
                        </i>
                    </li>
                </ul>
            </div>
            
            <!-- input "Type text" -->
            <div class="grey-bar" id="type-text">
                <i class="far fa-grin"></i>
                <i class="fas fa-paperclip"></i>
                <div class="search-bar">
                    <input v-model="typeText" v-on:keyup.enter="printText" type="text" placeholder="Scrivi un messaggio">
                </div>
                <i class="fas fa-arrow-right" v-on:click="printText"></i>
            </div>
        </div>

        <div v-else id="default-page">
            <img src="img/default-page.jpg">
            <h2>Mantieni il telefono connesso</h2>
            <p>WhatsApp si collega al tuo telefono per sincronizzare i messaggi. Per ridurre l'utilizzo dei dati, collega il telefono al Wi-Fi.</p>
            <hr>
            <p><i class="fas fa-laptop"></i>WhatsApp è disponibile per Windows. <a href="">Scaricala qui.</a></p>
        </div>

    </div>
</body>
</html>



<!-- TO DO 
- sistemare data messaggio inviato e risposta
- sistemare scroll verticale

- pulizia codice

-->

<!-- v-if="contact.name.toLowerCase().includes(typeSearch)" -->